.container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;

}

.color-picker-container {
  color: white;
  text-align: center;
  margin-right: 10px;
}

.brushsize-container {
  color: white;
  text-align: center;
  margin-left: 10px;

}

.tools-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.board-container {
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.board {
  width: 100%;
  height: 100%;
}

.sketch {
  width: 100%;
  height: 100%;
}


.navbar {
  width: 100%;
  background-color: black;
  margin-bottom: 0%;
  text-align: center;
  font-weight: 500;
}

.navItems {
  padding: 0.85%;
  color: white;
  text-decoration: none;
  float: right;
}

.navItems:hover {
  background-color: rgba(29, 29, 29, 0.9);
  border-radius: 5px;
}

body {
  margin: 0px;
  font-family: 'Josefin Sans'
}

.burghir {
  width: 35px;
  height: 5px;
  background-color: white;
  margin-top: 6px;
}

.mobileBurghir:active {
  margin-top: 10px;
}

.mobileNavbar {
  width: 100%;
  display: inline-block;
  
}

.mobileImg {
  float: left;
  margin: 2%;
}

.mobileBurghir {
  float: right;
  margin: 2%;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  background-color: black;
  border: rgb(208, 255, 0) solid 2px;
  color: white;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  /*box-shadow: 0 0 0 1px #242525, 0 24px 38px 3px rgba(73, 68, 68, 0.34), 0px 9px 86px 8px rgba(65, 59, 59, 0.28), 0px 11px 15px -7px rgba(189, 180, 180, 0.28);
*/
}



.img-404 {
  display: inline-block;
  vertical-align: top;
}
.header-404 {
  font-size: 60px;
  margin: 0px;
}
.text-404 {
  font-size: 16px;
}
.sub {
  font-size: 16px;
  color: #8f949e;
}

@media only screen and (max-width: 768px) {
  .centered {
    padding: 7px;
  }
  .header-404 {
    font-size: 30px;
  }
  .sub {
    font-size: 10px;
  }
  .text-404 {
    font-size: 10px;
  }
}

.navItemContainer {
  display: inline-block;
  width: 90%;
}

img {
  margin-top: 0%;
}